@import "./color_schemes/dark";

$link-color: #ffffff;
$nav-child-link-color: #ffffff;
$sidebar-color: rgb(73, 38, 5);
$body-background-color: #1c0f0f;
$body-heading-color: #FFFFFF;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$content-width: 60rem;
$code-background-color: #3d1616;
$border-color: #916404;
$table-background-color: rgb(68, 42, 18);

