<footer class="site-footer"> Copyright © CHANGE THIS.  <a href="https://www.scenicroute.games/">Scenic Route Games Website</a>
<br>
<a href="https://discord.com/invite/nAQWr4VmG6" target="_blank" class="icon_discord w-inline-block"><img src="https://uploads-ssl.webflow.com/619450a087513368f47876f8/619c8571f650faa09bc4e327_Discord%20-%20Negative.svg" loading="lazy" alt="Purple Discord logo" class="image-3" width="30" height="30" style="filter: contrast(45%) brightness(200%);"> </a>
<a href="https://www.patreon.com/scenicroutegames" target="_blank" class="icon_patreon w-inline-block"><img src="https://uploads-ssl.webflow.com/619450a087513368f47876f8/619c8571a75d788b966f0e20_Patreon%20-%20Negative.svg" loading="lazy" alt="Purple Patreon logo" class="image-3" width="30" height="30" style="filter: contrast(45%) brightness(200%);"> </a>
</footer>
